*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
}
body main{
    color: #fff;
    text-align: center;
    height: 50 px;
    width: 100%
}

header{
    background: rgba(0, 116, 90, 0.555);
    color:#fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    list-style: none;
    display: flex;
    gap:20px;
}
header nav ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 700;
}

header nav ul li a:hover{
    color:goldenrod;
    text-decoration: underline;
    border: 2px solid #ccc;
}
header #logo{
    color:blue;
}

.banner #image{
    max-width: 70%;
}

main{
  display: flex;
  flex-wrap: wrap;
}

.produto{
  width: 200px;
  height: 550px; 
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background: rgba(77, 0, 0, 0.884);
  color:#f0f0f0;
  border-radius: 30px;
  text-align: center;
}
.produto img{
  max-width: 100%;
  margin-bottom: 10px;
}

button{
  background: white;
  margin-top: 30px;
  padding: 15px 45px;
  border-radius: 20px;
  cursor: pointer;
}
button:hover{
  background: rgba(0, 116, 90, 0.555);
  color:white;
}

footer{
    height: 100 px;
    margin: 10 px;
    text-align: center;
    padding: 20 px;
    color: #fff;
}
